body {
    background: linear-gradient(to right, #e5e5f7, #f3e5f5);
    min-height: 100vh;
}

.section {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #d1c4e9;  /* un tono violeta tenue */
    border-radius: 8px;
    padding: 1rem;
}

.highlight {
    color: #6a0dad; /* un tono violeta */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    grid-template-rows: repeat(2, auto);  /* 2 filas con altura automática */
    gap: 1.5rem; /* Espacio entre filas y columnas */
}

.hidden {
    display: none;
}
